{{ 'collection-silder-custom.css' | asset_url | stylesheet_tag }}

<div class="collection_slider">
  <div class="product_section">
    <div class="product_content">
      {% for block in section.blocks %}
          <div class="product-img-fill">

            {% if block.settings.image != blank %}
              <div class="collection_image">
                <img class="collection-img" src="{{ block.settings.image | img_url: 'original' }}" alt="{{ block.settings.image.alt | default: shop.name }}" >
              </div>
            {% endif %}

            <div class="product_info">
              <div class="product_details">

                {% if block.settings.title_text != blank %}
                  <div class="collection_head">
                    <h3 class="colletion_title">{{ block.settings.title_text}}</h3>
                  </div>
                {% endif %}

                {% if block.settings.button_label != blank %}
                  <div class="product_button">
                    <a class="collection_btn" href="{{ block.settings.link }}">{{ block.settings.button_label}}</a>
                  </div> 
                {% endif %}

              </div>
            </div>
          </div>  
      {% endfor %} 
    </div>
  </div>
</div>

{{ 'collection-silder.js' | asset_url | script_tag  }}

{% schema %}
{
  "name": "Collection slider",
  "class": "section-collections-slider collection-silder-custom",
  "settings": [
        {
          "type": "header",
          "content": "Title font size"
        },
        {
            "type": "range",
            "id": "head-font",
            "label": "Head Font Size",
            "default": 35,
            "min": 0,
            "max": 50,
            "step": 1,
			"unit": "px"
        },
        {
            "type": "range",
            "id": "button-font-size",
            "label": "Button Font Size",
            "default": 16,
            "min": 0,
            "max": 30,
            "step": 1,
			"unit": "px"
        },
        {
          "type": "header",
          "content": "Title color"
        },
        {
          "type": "color",
          "id": "head_color",
          "label": "Heading color",
          "default": "#f6f6f6"
        },
        {
          "type": "color",
          "id": "btn_title_color",
          "label": "Button title color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "btn_border_color",
          "label": "Button border color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "hover_btn_bg_color",
          "label": "Hover Button background color",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "hover_btn_title_color",
          "label": "Hover Button title color",
          "default": "#000000"
        }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Collection",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title_text",
          "default": "Add Title Text",
          "label": "Title Text"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
"presets": [
    {
      "name": "Collection slider"
    }
  ]
}
{% endschema %}

<style>

  #shopify-section-{{ section.id }} .product_details h3 {  
    color: {{ section.settings.head_color }};
    font-size: {{ section.settings.head-font }}px;
  }
  #shopify-section-{{ section.id }} .product-img-fill:hover .product_details a.collection_btn {  
    color: {{ section.settings.btn_title_color }};
    border: 1px solid {{ section.settings.btn_border_color }};
    font-size: {{ section.settings.button-font-size }}px;
  }
  #shopify-section-{{ section.id }} .product-img-fill:hover .product_details a.collection_btn:hover {
    background: {{ section.settings.hover_btn_bg_color }};
    color: {{ section.settings.hover_btn_title_color }} ;
  }
  
  @media (max-width:480px) {
  	.collection_image img.collection-img {
    width: 100%;
  }
  }
</style>

